---
background-image: "http://dummyimage.com/728x90/000/ffffff?text=728x90"
---
<span class="partial" data-partial="banner/728x90">
  {{#block "background"}}
    <img src="{{{background-image}}}" class="background" />
  {{/block}}
  {{#block "foreground"}}
    Banner Foreground
  {{/block}}
</span>
